.miTituloRojo{
  padding: 10px;
  color: red;
}

.miTituloAzul{
  padding:10;
  color: blue
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.cart {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.cart i {
  margin-right: 10px;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}